<% include partials/header.ejs %>
    <div class="container post">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 post-title">
                <h1 class="text-center">Login</h1>
                <form action="login" method="post">
                    <input class="form-control" type="text" name="username" required="true" placeholder="Username" autofocus="">
                    <input class="form-control" type="password" name="password" required="true" placeholder="Password">
                    <button class="btn btn-success btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script>var d = document.getElementById("login");
d.className += "active";</script>
<% include partials/footer.ejs %>